# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
**/mvnw
**/mvnw.cmd

# IntelliJ IDEA
.idea/
*.iml
out/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Arquivos sensíveis
application.properties
